<!DOCTYPE html>
<html>
<head>
	<title>Worker | Add Certificates</title>
</head>
<body>
	<h1>Add your certificates</h1>
	<form method="POST" action="/worker/addcertificates/submit/">
		{% csrf_token %}

	Certificates :
	Which type of field:
  <select name="dropdown">
    <option selected="selected" disabled>No Skill selected:</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="WebDesigner">WebDesigner</option>
            <option value="Marketing">Marketing</option>
    </select>
	<input type="file" name="files[]" id='files'>
	<input type="hidden" name="url" id ='url'>
	<button type="button" onclick="uploadimage()">Upload</button><br>
	<button>Submit</button>
	</form>
  <div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfk6s5AmVAai1X8dWuRgYQ4RqduKyRHN96e_DmnPA8PMSyVxA/viewform?embedded=true" width="640" height="722" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
  <div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfr5B00diSKOngbK4CvESBsEKcHEBFnqJu5aBynvZGqQlZyHQ/viewform?embedded=true" width="640" height="1066" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
    var config = {
    apiKey: "AIzaSyD7MVWjMWPnyguId_WKdJueN1TMK-8kkc4",
    authDomain: "the-project-6ca2f.firebaseapp.com",
    databaseURL: "https://the-project-6ca2f.firebaseio.com",
    storageBucket: "the-project-6ca2f.appspot.com",
    messagingSenderId: "28467301382"
  };
  firebase.initializeApp(config);
  // Get a reference to the storage service, which is used to create references in your storage bucket
  function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("files").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  thisref.on('state_changed',function(snapshot){
  console.log("file uplaoded succesfully");
  },
  function(error) {
  },
  function() {
  // Upload completed successfully, now we can get the download URL
  var downloadURL = thisref.snapshot.downloadURL;
  console.log("got url");
  document.getElementById("url").value = downloadURL;
  alert("file uploaded successfully");
});
    }
</script>
</html>