<!DOCTYPE html>
<html>
<head>
	<title>TheProject | QuestionnaireMarketing</title>
</head>
<body>
	<h1>Marketing</h1>
	<form method="POST" action="/worker/questionnaire/marketing/submit/">
		{% csrf_token %}
		<p>{{marketingquestion1}} : <input type="text" name="marketingquestion1"></p>
		<p>{{marketingquestion2}} : <input type="text" name="marketingquestion2"></p>
		<p>{{marketingquestion3}} : <input type="text" name="marketingquestion3"></p>
		<button>Submit</button>
		
	</form>
</body>
</html>