<!DOCTYPE html>
<html>
<head>
	<title>TheProject | status</title>
</head>
<body>
	<h1>Status</h1>
	{% ifequal status 'Not verified yet' %}
		<h4>Status : {{status}}</h4>
		<ul>Your details : 
			<li>Certificates submitted : {{certificatesstatus}}</li>
			<li>Profile submitted : {{profilestatus}}</li>
			<li>Java Questionnaire submitted : {{questionnairejavastatus}}</li>
			<li>Python Questionnaire submitted : {{questionnairepythonstatus}}</li>
			<li>Marketing Questionnaire submitted : {{questionnairemarketingstatus}}</li>
			<li>Web Designing Questionnaire submitted : {{questionnairewebdesignerstatus}}</li>
		</ul>
		<form method="POST" action="/worker/status/submit/">
			{% csrf_token %}
			<select name="verificationsubmit">
				<option value="---">----</option>
				<option value="Under Verification">Submit to verification</option>
			</select>
			<button>Submit</button>

		</form>
	{% endifequal %}
	{% ifequal status 'Under Verification' %}
		<h4>Under Verification</h4>
	{% endifequal %}
	{% ifequal status 'Verified' %}
		<h3>You Account has verified successfully</h3>
	{% endifequal %}

</body>
</html>