<!DOCTYPE html>
<html>
<head>
	<title>TheProject | status</title>
</head>
<body>
	<h1>Status</h1>
	{% ifequal status 'Not yet Verified!' %}
		<h4>Status : {{status}}</h4>
		<h5>Chances maybe you haven't completed the process starting from Adding your profile, Adding your Certificates and last step completing the <a href="/worker/questionnaire/">Questionnaire</a></h5>
	{% endifequal %}
	{% ifequal status 'Under Verification' %}
		<h4>Under Verification</h4>
	{% endifequal %}
	{% ifequal status 'Verified' %}
		<h3>You Account has verified successfully</h3>
	{% endifequal %}

</body>
</html>