<!DOCTYPE html>
<html>
<head>
	<title>Company</title>
</head>
{% if msg %}
<script type="text/javascript">
	alert("{{msg}}");
</script>
{% endif %}
<body>
	<h1>Company Home</h1>
	{% if details %}
		<h4>{{details}}</h4>
		<ul>
			<li><a href="/company/">Home</a></li>
			<li><a href="/company/editprofile/">Edit Profile</a></li>
			<li><a href="/company/status/">Status</a></li>
		</ul>
		<h4>Employees List</h4>
			{% if pythondata %}
				<h5>Python People</h5>
					{% for i in pythondata %}
						<p>{{i}}</p>
					{% endfor %}
			{% endif %}
			{% if javadata %}
				<h5>Java People</h5>
					{% for i in javadata %}
						<p>{{i}}</p>
					{% endfor %}
			{% endif %}
			{% if marketingdata %}
				<h5>Marketing People</h5>
					{% for i in marketingdata %}
						<p>{{i}}</p>
					{% endfor %}
			{% endif %}
			{% if webdesignerdata %}
				<h5>WedDesigner People</h5>
					{% for i in webdesignerdata %}
						<p>{{i}}</p>
					{% endfor %}
			{% endif %}
		<a href="/company/logout/"><button>Logout</button></a>
	{% else %}
		<h4>Not signed in</h4>
	{% endif %}

</body>
</html>